@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import "spacing";
@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;

  &:focus {
    outline: 2px solid var(--orange-medium);
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: var(--text-primary);
  font-size: 1.6rem;
  background-color: var(--background-primary);
}
